.navbar{
    display: flex;
    flex-direction: column;
}

.main_header {
    border: none !important;
    background: linear-gradient(45deg, #1164B1, #02A4F2) !important;
    box-shadow: none !important;
    border-radius: 0 !important;
}

.main_header .left.menu .item>img {
    width: 80px !important;
}

.small_logo_pics {
    width: 23px!important;
    margin-bottom: 5px!important;
}
.sub_header_items.active, .sub_header_items:hover {
    border-bottom: 2px solid #0288d1;
    border-radius: 2px;
}
.main_header_items{
    display: flex;
    flex-direction: column;
    color: white !important;
    justify-content: space-between;
}
.main_header{
    margin-bottom: 0 !important;
}
.sub_header_items{
    padding: 0 !important;
    margin:0.2em 0.5em !important;
    border-bottom: 2px solid #00000000;
}
.custom_li_segment{
    margin-top: 0 !important;
}
.custom_li_wrapper{
    display: flex;
}
.nav_ul{
    display: flex;
}

.nav_ul li{
    text-decoration: none;
    list-style-type: none;
}
.left_nav{
    display: flex;
}

.ui.dropdown>.dropdown.icon {
    font-family: Dropdown !important;
}