.ui.sticky {
  position: static !important;
  transition: none;
  z-index: 800;
}

.table_holder {
  padding: 6px 10px !important;
}

.download_page {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.table_holder_section.downloadpage {
  max-width: 90vw;
}
.table_holder_section.filter_table_wrapper_row {
  flex-direction: row !important;
}
.download_button {
  color: white;
  margin-left: 15px;
}
.download_page_text_wrapper .infos {
  align-content: center;
  display: flex;
  justify-content: center;
}
.download_page_text_wrapper {
  padding: 20px;
}
.ant-tree-treenode-selected {
  border-radius: 0;
}

.minus_errors {
  color: white !important;
  font-weight: bold !important;
}

.minus_errors td {
  background-color: rgb(255, 210, 75) !important;
}
.filter_table_wrapper_row {
  flex-direction: column;
}
.create_page_padding {
  padding: 0 10px;
}
.create_page {
  position: absolute;
  top: 0;
  width: 100%;
}
.create_page .table_holder {
  padding: 0 !important;
}

.create_page .page_name_wrapper {
  background-color: white;
  position: sticky;
  top: 0;
  z-index: 999;
  padding-left: 20px;
}

.filter_table_wrapper_row.doc {
  min-width: calc(100vw - 100px);
}

.ui.segment.custom_table_loader .dimmer {
  height: 100%;
}
.boldContent {
  font-weight: bold !important;
}
.ant-tree-treenode-selected .ant-tree-title,
.ant-tree-treenode-selected .anticon {
  color: #0288d1;
}

.ant-tree.ant-tree-directory .ant-tree-treenode {
  padding: 0.5rem;
}

.ant-tree .ant-tree-node-content-wrapper:hover .editGr {
  display: block;
}

.table_wrapper.group_col_wrapper_side {
  margin-top: 32px;
  width: 310px;
}

.ant-tree.ant-tree-directory .ant-tree-treenode-selected:hover::before,
.ant-tree.ant-tree-directory .ant-tree-treenode-selected::before {
  background: #dbf2ff !important;
  border-radius: 2px;
}
.group_col_wrapper_side {
  position: sticky !important;
  top: 136px;
  max-height: 337px;
  overflow: auto;
}

.table_holder_section.download_page {
  text-align: center;
}

.ant-tree-list {
  z-index: 0 !important;
}

.ui.segment.custom_table_loader {
  border: 0 !important;
  border-radius: 0 !important;
}

.tab_wrapper .ui.menu {
  border: none !important;
  box-shadow: none !important;
}

.tab_wrapper .ui.menu .item {
  background: #4845ff17 !important;
  width: 25%;
  height: 2.5vw;
  flex-direction: column;
  justify-content: center;
}

.ui.menu > .item:last-child {
  border-radius: 0 0.28570429rem 0.28571429rem 0 !important;
}
.ui.menu > .item:last-child:before {
  background: transparent !important;
}
.tab_wrapper .ui.menu .item.active {
  background: #0288d1 !important;
  color: white !important;
}
