.doc_forms .ant-row.ant-form-item {
    justify-content: space-between;
}

.doc_forms .ant-form-item-label {
    overflow: initial;
}

.doc_form_field_wrapper {
    justify-content: space-between;
}

.doc_status_formitem_wrapper_col .ant-row.ant-form-item {
    justify-content: flex-end !important;
}
.customDrawer .ant-drawer-content-wrapper {
    width: max-content !important;
}

.customDrawer .ant-drawer-body {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.form_owdep_wrapper {
    display: flex;
}
.mark_option_wrapper .ant-select-item-option-content {
    display: flex;
    justify-content: space-between;
}

.mark_option_wrapper .ant-select-item-option-content .markname {
    display: none;
}
.ant-select-selection-item .mark_option_icons_wrapper {
    display: none;
}

.ant-select-selection-item input {
    display: none;
}
.custom_panel_header .ant-collapse-header {
    padding-left: 0 !important;
}
.docComponentStatus .ant-checkbox-wrapper {
    margin-left: 11px;
}

.doc_number_form_item {
    min-width: 14vw;
}

.doc_number_form_item .ant-input-affix-wrapper {
    width: 100px;
}

.doc_forms textarea {
    width: 216px !important;
}

.form_top_side {
    display: flex;
    justify-content: space-between;
    min-width: 20vw;
    width: auto;
}

.form_item_with_icon {
    display: flex;
    justify-content: flex-start;
}

.form_item_with_icon .add_elements {
    padding: 4px;
    margin-bottom: 24px;
    cursor: pointer;
    color: #0288d1;
    display: flex;
    align-items: center;
}
.get_data_indicator {
    background: white !important;
}

.modified_date_input .ant-picker {
    background: transparent;
    border: none;
}
.modified_date_input .ant-picker input {
    color: #5c5c5c;
}
.top_wrapper_holder {
    width: 100%;
}
.first_form_wrapper,
.second_form_wrapper {
    padding: 10px;
    padding-left: 20px;
}

.plus_wrapper {
    position: relative;
}

.plus_wrapper span.add_elements {
    display: inline-block;
    position: absolute;
    top: 0ri;
    top: 11px;
    right: -16px;
    color: #0288d1;
}
.customSelectStatus {
    width: 6vw !important;
}
.customer_data_wrapper {
    text-align: right;
    color: red;
    margin-bottom: 10px !important;
}
.custom_table_wrapper_tab .ui.attached.tabular.menu {
    padding-left: 20px;
}

.doc_forms {
    padding: 20px;
}
.form_header_wrapper {
    position: sticky;
    top: 26px;
    background-color: white;
    z-index: 999;
    padding: 10px 20px;
}
.doc_info_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.comsumption_input_wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
