.show_packet_pcs {
    display: flex;
    justify-content: space-between;
}

.addProductInputWrapper {
    margin-top: 10px;
    margin-bottom: 10px;
}

.ui.menu .active.item {
    color: #0288d1 !important;
}
.addProductInputIcon {
    display: flex;
    align-items: center;
}

.tableButtonsWrapper .ant-dropdown-trigger {
    border: none !important;
}

.doctable th.ant-table-cell {
    position: sticky;
    top: 72px;
    background-color: white;
    z-index: 1;
    font-weight: bold;
    color: #6b6f82 !important;
}
.catalog_button_wrapper {
    display: flex;
    justify-content: flex-end;
}

.catalog_button_wrapper button {
    width: 140px;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.doc_info_text.doc_info_secondary span {
    font-size: 20px;
}
.doc_info_text.doc_info_secondary.edit span {
    font-size: 15px;
}
.selectedItems {
    flex-grow: 1;
    justify-content: center;
    background-color: #e6f7ff;
    align-items: center;
    border-radius: 2px;
}

.addNewProductIcon {
    position: absolute;
    right: 1px;
    background-color: #e6f7ff;
    color: #0288d1;
    z-index: 100;
}
.selectedItems span {
    color: red;
    margin-left: 20px;
    cursor: pointer;
}
.selectedItemsWrapper {
    display: flex;
    flex-direction: row-reverse;
}
.selectedItemsWrapper .ant-dropdown-trigger {
    border: none;
}

.selectedItemsWrapper .ant-dropdown-trigger span {
    color: #0288d1;
}
.addProductInputIcon .anticon-plus {
    padding: 10px;
    cursor: pointer;
    border-left: 1px solid #c4c4c4;
}

.addProductInputIcon .ant-select-selection-placeholder {
    color: #7a7a7a;
    font-style: italic;
}

.addProductInputIcon .ant-select-selector {
    border-color: #858585 !important;
}
.addProductInputIcon .ant-select {
    width: 100%;
}

.packOrQuantityWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 0;
    padding-left: 4px;
}
.disabledPacket .ant-select-selector {
    border: none !important;
    background-color: none !important;
    background: none !important;
}

.ant-table-cell {
    background-color: #f6f6f6;
}

.doctable table {
    width: 100%;
}

.ant-table-tbody > tr.ant-table-placeholder:hover > td {
    background: #f6f6f6;
}

.ant-table-tbody > tr.ant-table-row:hover > td {
    background: #f6f6f6;
}
.custom_table_wrapper_tab .ui.tab.active,
.custom_table_wrapper_tab .ui.tab.open {
    display: block;
    width: 98%;
    margin: auto !important;
}
/* 
*/

.doctable th{
    padding: 9px 16px !important;
}
.ant-table-cell.ant-table-selection-column,
.orderField {
    width: 50px !important;
}
.max_width_field_length {
    width: 300px !important;
}
.max_width_field {
    width: 150px !important;
}

.doc_info_text.total{
    font-weight: 500;
}
.doc_info_text.quantity span{
    font-size: 16px !important;
}

.doc_info_text.total span{
    font-size: 22px !important;
}

.editable-cell-value-wrap {
    background-color: white;
    text-align: center;
    border-radius: 2px;
    padding-right: 0 !important;
    height: 32px;
    display: flex;
    align-items: center;
    text-align: center;
    padding-left: 5px !important;
    border-radius: 2px;
}
.customContainer {
    width: 98%;
    margin: auto;
    padding: 1em 1em;
}

.packOrQuantityWrapper:parent(div) {
    background-color: wheat;
}
.packOrQuantityWrapper .ant-select {
    width: 76px !important;
}
