.ant-form-item-label > label::after {
    content: ":";
    position: relative;
    top: -0.5px;
    margin: 0px 8px 0 2px;
}

.ant-form-horizontal .ant-form-item-label {
    flex-grow: 0;
    justify-content: flex-start;
    display: flex;
    width: 10em;
}

.docComponentStatus .ant-col.ant-form-item-label {
    width: initial !important;
}

.form_top_side.doc_permission {
    width: 20vw;
    min-height: 56px;
}

.dynamic-delete-button {
    color: #0288d1 !important ;
}
.form_top_side.doc_permission .ant-row.ant-form-item:first-of-type {
    margin-bottom: 6px !important;
}

.price_wrapper_spinner {
    background-color: white;
}

.price_delete_button {
    margin-bottom: 24px;
    min-width: 60px;
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
}

.price_del_icons {
    position: relative;
    display: flex;
    align-items: center;
}

.prices_wrapper .ant-spin-container.ant-spin-blur {
    min-height: 100px;
}
.modal_price_type .ant-modal-content {
    width: max-content;
    margin: auto;
}
.create_new_price_button {
    width: 269px;
    color: #0288d1;
    align-items: center;
    display: flex;
    justify-content: center;
}
.form_top_side.doc_permission .ant-collapse-header {
    flex-direction: row-reverse;
    display: flex;
    justify-content: flex-end;
    text-align: center;
    align-items: center;
    color: #0288d1;
}

.form_top_side.doc_permission .ant-collapse-header span {
    margin: 0;
    margin-left: 3px !important;
}

.form_top_side.doc_permission .ant-collapse.ant-collapse-icon-position-left.ant-collapse-ghost {
    width: 100%;
}

.form_total_top_wrapper {
    background: #f6f6f6;
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 8px;
    border-radius: 5px;
}

.left_form_wrapper {
    background: #4548ff17;
    margin-right: 41px;
    padding-top: 13px;
    border-radius: 2px;
}

.print_barcode {
    border: none !important;
    box-shadow: none !important;
}

.print_barcode svg {
    font-size: 1.4rem !important;
}

.ant-dropdown-menu-item:hover,
.ant-dropdown-menu-submenu-title:hover {
    background-color: transparent !important;
}

.ant-dropdown-menu-item .ant-btn.align_center {
    border: none;
    display: flex;
    align-items: center;
}

.ant-dropdown-menu-item .ant-btn.align_center.del svg {
    color: red;
}

.ant-dropdown-menu-item .ant-btn.align_center.arch svg {
    color: #0288d1;
}

.d-none {
    display: none;
}

.left_form_wrapper .ant-row.ant-form-item {
    display: flex;
    justify-content: space-around;
}

.ant-form-item-hidden,
.ant-form-item-hidden.ant-row {
    display: none !important;
}

.form_header_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dots {
    height: 4px;
    width: 4px;
    background: #525252;
    border-radius: 2px;
}

.dots:nth-of-type(2) {
    margin: 0 3px;
}

.form_setting_icon_wrapper {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 10px;
    border-radius: 3px;
    background-color: #f9f9f9;
}

.main_form_side .ant-collapse-content-active .ant-collapse-header {
    font-weight: bold;
}

.percent_wrapper {
    display: flex;
    width: 280px;
    justify-content: space-between;
    align-items: center;
}

.d-flex-row {
    flex-direction: row !important;
}
.percent_wrapper .ant-row.ant-form-item {
    margin: 0 !important;
}

.segment.active.tab {
    border: none;
    box-shadow: none !important;
}
